@page "/how-it-works"

<div class="d-f-c f-1" id="main-container">
                
    <div class="main-content d-f-c f-1">
                    
    <div>
    
</div>

<app-root ng-version="18.2.13"><router-outlet></router-outlet><!----><!----><div ng-view="" ng-class="onRegPage ? 'd-f-c f-1' : ''">    

<div style="display:none;" id="page_meta_title">How Copart works - Copart</div>
<div style="display:none;" id="page_meta_keywords"></div>
<div style="display:none;" id="page_meta_description">Get information about how to register, bid &amp; buy at Copart, why buy with Copart, delivery, transportation, licensing &amp; many more.</div>
<div style="display:none;" id="page_title">How it Works</div>
<div style="display:none;" id="page_robots">index, follow</div>
<div style="display:none;" id="page_canonical">https://www.copart.com/content/us/en/how-it-works</div>

<div style="display:none;" id="meta_canonical_url">https://www.copart.com/content/us/en/how-it-works</div>
<div style="display:none;" id="meta_description">Get information about how to register, bid &amp; buy at Copart, why buy with Copart, delivery, transportation, licensing &amp; many more.</div>
<div style="display:none;" id="meta_robots">index, follow</div>
<div style="display:none;" id="meta_title">How Copart works - Copart</div>

<div id="main" role="main">
    <div id="content" class="content container cms-mrkt">
        <div class="clear"> </div>
                 
<div id="node-15138" class=" clearfix" about="/en/content/us/en/how-it-works" typeof="schema:WebPage">
		
		  <span property="schema:name" content="How it Works" class="hidden"></span>


	
	<div class="content clearfix">
		
            <div property="schema:text">
<script>
  window.googletag = window.googletag || {cmd: []};
  googletag.cmd.push(function() {
    var mapping1 = googletag.sizeMapping()
                            .addSize([992, 0], [[728, 90]])
                            .addSize([728, 0], [[728, 90]])
                            .addSize([320, 0], [[320, 50]])
                            .build();

    googletag.defineSlot('/35265761/How_it_works_1_728X90', [[728,90],[320,50]], 'div-gpt-ad-3493561-1')
             .defineSizeMapping(mapping1)
             .addService(googletag.pubads());
    googletag.defineSlot('/35265761/How_it_works_2_728X90', [[728,90],[320,50]], 'div-gpt-ad-3493561-2')
             .defineSizeMapping(mapping1)
             .addService(googletag.pubads());
    googletag.defineSlot('/35265761/How_it_works_3_728X90', [[728,90],[320,50]], 'div-gpt-ad-3493561-3')
             .defineSizeMapping(mapping1)
             .addService(googletag.pubads());
    googletag.defineSlot('/35265761/How_it_works_4_728X90', [[728,90],[320,50]], 'div-gpt-ad-3493561-4')
             .defineSizeMapping(mapping1)
             .addService(googletag.pubads());

    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.pubads().setForceSafeFrame(false);
    googletag.enableServices();
  });
</script>


<style type="text/css">.inner-wrap .mbt {
	max-width: 1200px;
	margin: 40px auto 0 auto;
}
.inner-wrap .container {
	width: 100% !important;
	padding: 0;
}
.inner-wrap .sectionBlock {
	border: none;
	border-radius: 0;
	font-size: 14px;
	margin-bottom: 0;
}
.inner-wrap .sectionContent {
	padding: 0;
}
.inner-wrap .clear {
	display: none;
}
	

.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  max-width: 600px;
  width: 90%;
  will-change: transform, opacity; }

.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg); }

.heading-scroll {
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  max-width: 600px;
  width: 90%;
  will-change: transform, opacity; }

.heading-scroll.is-visible {
  opacity: 1;
  transform: rotateZ(0deg); }

.heading-centered {
  max-width: 1280px;
  margin: auto;
  margin-top: 80px; }
  .heading-centered h1 {
    text-align: center;
    max-width: 100%; }
  .heading-centered hr {
    border: 3px solid #1254FF;
    width: 80px;
    margin-left: 45%;
    margin-top: 40px;
    margin-bottom: 40px; }

.heading-mobile-center {
  max-width: 1280px;
  margin: auto;
  padding: 0 24px; }
  .heading-mobile-center hr {
    border: 3px solid #FFB838;
    width: 80px;
    margin-left: 0;
    margin-bottom: 24px; }

.how-it-works {
  overflow: hidden;
   }
  .how-it-works h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    text-align: left;
    max-width: 800px;
    color: #000;
    font-size: 32px; }
  .how-it-works h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    text-align: left;
    max-width: 800px;
    color: #000;
    font-size: 32px;
    line-height: 40px;}
  .how-it-works h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    text-align: left;
    max-width: 800px;
    color: #000;
    font-size: 16px;
    font-weight: 700; }
  .how-it-works h4 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    text-align: left;
    max-width: 800px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    color: #000; }
  .how-it-works p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    max-width: 800px;
    color: #000; }
  .how-it-works ul, .how-it-works li {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    max-width: 800px;
    color: #000;
    font-size: 16px; }
  .how-it-works a {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    text-align: left;
    max-width: 800px;
    color: #000;
    color: #1254FF;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none; }
    .how-it-works a img {
      vertical-align: middle; }
  .how-it-works a.button {
    color: white;
    background-color: #1254FF;
    border-radius: 40px;
    padding: 16px 32px;
    margin: 24px 0;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    text-decoration: none; }
    .how-it-works a.button:hover {
      background-color: #366EFF; }
  .how-it-works .heading {
    max-width: 1280px;
    margin: auto;
    margin-top: 80px; }
    .how-it-works .heading hr {
      border: 3px solid #FFB838;
      width: 80px;
      margin-left: 0; }
  .how-it-works .intro-section, .how-it-works .next-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    margin-bottom: 120px; }
    .how-it-works .intro-section .content-intro, .how-it-works .next-section .content-intro {
      flex: 1;
      max-width: 600px;
      padding-left: 40px; }
      .how-it-works .intro-section .content-intro h1, .how-it-works .next-section .content-intro h1 {
        font-size: 48px;
        color: #1254FF;
        margin-top: 48px;
        margin-bottom: 40px; }
    .how-it-works .intro-section .image-collage, .how-it-works .next-section .image-collage {
      flex: 1;
      max-width: 700px; }
      .how-it-works .intro-section .image-collage img, .how-it-works .next-section .image-collage img {
        width: 85%;
        max-width: 700px;
        position: absolute;
        top: 24px;
        right: 24px; }
  .how-it-works .icon-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    margin-top: 0px;
    flex-wrap: wrap;
}
    .how-it-works .icon-section .step {
      width: 370px;
      margin-top: 40px;
}
      .how-it-works .icon-section .step .icon {
        width: 48px; }
      .how-it-works .icon-section .step img {
        vertical-align: middle; }
  .how-it-works .why-copart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px; }
    .how-it-works .why-copart .video-section {
      flex: 1;
      max-width: 50%;
      height: 600px;
   }
      .how-it-works .why-copart .video-section .helpLink {
        display: flex;
        width: 100%;
        height: 100%;
        transition: all .1s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        cursor: pointer; }
      .how-it-works .why-copart .video-section .helpLink:before,
      .how-it-works .why-copart .video-section .helpLink:after {
        pointer-events: none;
        opacity: 0; }
      .how-it-works .why-copart .video-section .helpLink:hover:after,
      .how-it-works .why-copart .video-section .helpLink:focus:after {
        transition: opacity .2s ease-in-out; }
      .how-it-works .why-copart .video-section .helpModal,
      .how-it-works .why-copart .video-section .helpModal * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; }
      .how-it-works .why-copart .video-section .helpModal,
      .how-it-works .why-copart .video-section .helpOverlay {
        display: none;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        z-index: 5000; }
      .how-it-works .why-copart .video-section .helpModal:checked + .helpModal,
      .how-it-works .why-copart .video-section .helpModal:checked + .helpModal .helpOverlay {
        display: block;
        opacity: 1;
        pointer-events: auto; }
      .how-it-works .why-copart .video-section .helpOverlay {
        margin: 0;
        background: rgba(0, 0, 0, 0.3);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        cursor: pointer; }
      .how-it-works .why-copart .video-section .helpModal aside {
        display: block;
        position: relative;
        max-width: 900px;
        margin: 0 auto;
        padding: 0;
        z-index: 6000;
        transition: padding .2s ease-in-out; }

      .how-it-works .why-copart .video-section .helpExit {
        display: block;
        position: absolute;
        top: .0;
        right: 0;
        width: 50px;
        height: 50px;
        color: #c00;
        z-index: 6000;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        cursor: pointer; }
      .how-it-works .why-copart .video-section .helpExit:before,
      .how-it-works .why-copart .video-section .helpExit:after {
        content: '';
        display: block;
        background: red;
        height: 25px;
        width: 4px;
        position: absolute;
        top: 12.5px;
        left: calc(50% - 2px);
        transform-origin: center;
        transition: all .1s ease-in-out; }
      .how-it-works .why-copart .video-section .helpExit:before {
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
      .how-it-works .why-copart .video-section .helpExit:after {
        transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
      .how-it-works .why-copart .video-section .helpExit:hover:before,
      .how-it-works .why-copart .video-section .helpExit:focus:before,
      .how-it-works .why-copart .video-section .helpExit:hover:after,
      .how-it-works .why-copart .video-section .helpExit:focus:after {
        background: white; }
      .how-it-works .why-copart .video-section .helpExit:hover:before,
      .how-it-works .why-copart .video-section .helpExit:focus:before {
        transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg); }
      .how-it-works .why-copart .video-section .helpExit:hover:after,
      .how-it-works .why-copart .video-section .helpExit:focus:after {
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
      .how-it-works .why-copart .video-section .helpExit:focus + article,
      .how-it-works .why-copart .video-section .helpExit:hover + article {
        opacity: .7; }
      .how-it-works .why-copart .video-section .helpModal article {
        background: white;
        border: 0 solid transparent;
        margin: 0;
        color: #222;
        max-width: 900px;
        box-shadow: rgba(0, 0, 0, 0.15) 0 3px 15px;
        transition: all .2s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        cursor: default; }
      .how-it-works .why-copart .video-section .helpModal article h1 {
        letter-spacing: -.02em;
        font-size: 24pt;
        margin: 0 0 .5em 0; }
      .how-it-works .why-copart .video-section .helpModal article p {
        margin: 0;
        font-size: 12pt; }
      .how-it-works .why-copart .video-section .helpModal article p + p {
        margin-top: 1em; }
      .how-it-works .why-copart .video-section .toggleBox,
      .how-it-works .why-copart .video-section .toggleBox * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; }
      .how-it-works .why-copart .video-section .toggleBox {
        background: #fafafa;
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden; }
      .how-it-works .why-copart .video-section .toggleBox:after {
        content: '';
        display: block;
        clear: both; }
      .how-it-works .why-copart .video-section .toggleBox input {
        display: none;
        transition: all .1s ease-in-out; }
      .how-it-works .why-copart .video-section .toggleBox label:hover,
      .how-it-works .why-copart .video-section .toggleBox label:focus {
        text-decoration: underline; }
      .how-it-works .why-copart .video-section .toggleBox input:checked + label {
        font-weight: bold;
        background: #eaeaea; }
      .how-it-works .why-copart .video-section .toggleBox small {
        display: block;
        padding: 0;
        margin: 7px;
        font-size: 18pt;
        color: #333; }
      .how-it-works .why-copart .video-section .toggleBox label {
        display: inline-block;
        width: 50%;
        float: left;
        padding: 15px 0;
        text-align: center;
        font-size: 10pt;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        cursor: pointer;
        background: white;
        border-top: 1px solid #eaeaea; }
      .how-it-works .why-copart .video-section .toggleBox .slider {
        position: relative;
        float: left;
        width: 200%; }
      .how-it-works .why-copart .video-section .toggleBox .slider div[class^="tab-"] {
        position: relative;
        display: block;
        float: left;
        width: 50%;
        transition: left .2s ease-in-out; }
      .how-it-works .why-copart .video-section .toggleBox #tab1 ~ .slider .tab-1 {
        left: -50%; }
      .how-it-works .why-copart .video-section .toggleBox #tab1:checked ~ .slider .tab-1 {
        left: 0; }
      .how-it-works .why-copart .video-section .toggleBox #tab2 ~ .slider .tab-2 {
        left: 50%; }
      .how-it-works .why-copart .video-section .toggleBox #tab2:checked ~ .slider .tab-2 {
        left: -50%; }
      .how-it-works .why-copart .video-section .help-embed-container {
        position: relative;
        padding-bottom: 62.5%;
        height: 0;
        margin: 0;
        overflow: hidden;
        max-width: 100%; }
      .how-it-works .why-copart .video-section .help-embed-container iframe,
      .how-it-works .why-copart .video-section .help-embed-container object,
      .how-it-works .why-copart .video-section .help-embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .how-it-works .why-copart .photo-section {
      flex: 1;
      max-width: 50%;
      height: 600px;
      width: auto;
      margin-right: -8%; }
      .how-it-works .why-copart .photo-section img {
        height: 600px; }
    .how-it-works .why-copart .content-section {
      flex: 1;
      width: 50%;
      padding: 0 40px; }
      .how-it-works .why-copart .content-section .heading {
        margin-top: 0; }
      .how-it-works .why-copart .content-section .benefits-cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start; }
        .how-it-works .why-copart .content-section .benefits-cards .card {
          display: flex;
          align-items: center;
          width: 100%;
          height: 96px;
          border-radius: 3px;
          background-color: white;
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
          padding: 16px;
          margin-bottom: 16px; }
          .how-it-works .why-copart .content-section .benefits-cards .card img {
            padding-right: 16px;
            height: 40px; }
          .how-it-works .why-copart .content-section .benefits-cards .card h3 {
            margin-bottom: 0;
            color: black; }
    .how-it-works .why-copart .content-section-two {
      flex: 1;
      max-width: 600px;
      margin: auto;
      line-height: 2em;
      padding: 0 24px; }
      .how-it-works .why-copart .content-section-two p {
        max-width: 500px; }
      .how-it-works .why-copart .content-section-two .heading {
        margin-top: 0; }
  .how-it-works .four-block-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between; }
    .how-it-works .four-block-section .content-section {
      width: 50%;
      box-sizing: border-box;
      background-color: #F7FAFC;
      padding: 40px; }
      .how-it-works .four-block-section .content-section .heading {
        margin-top: 0; }
        .how-it-works .four-block-section .content-section .heading hr {
          border-color: #1254FF; }
    .how-it-works .four-block-section .photo-delivery {
      background-image: url("/content/delivery-transportation.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 50%;
      min-height: 400px; }
    .how-it-works .four-block-section .photo-licensing {
      background-image: url("/content/licensing-information.png");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      width: 50%;
      min-height: 451px; }
  .how-it-works .payment-methods {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    margin-top: 80px; }
    .how-it-works .payment-methods p {
      max-width: 500px; }
  .how-it-works .frequently-asked-questions .heading {
    margin-bottom: 80px; }
  .how-it-works .frequently-asked-questions .accordion > input[type="checkbox"] {
    display: none; }
  .how-it-works .frequently-asked-questions .accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: 0.25s ease-in;
    width: 77%; }
  .how-it-works .frequently-asked-questions .accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
    width: 92%;
    max-width: 1280px;
    margin: auto; }
  .how-it-works .frequently-asked-questions .accordion label {
    display: flex; }
  .how-it-works .frequently-asked-questions .accordion {
    display: flex;
    align-content: start;
    flex-wrap: wrap;
    width: 100%;
    border-top: solid 1px #ADBCCA; }
  .how-it-works .frequently-asked-questions .accordion > input[type="checkbox"]:checked ~ .content {
    border-radius: 0 0 6px 6px;
    border-top: 0;
    padding-top: 8px;
    padding-bottom: 8px; }
  .how-it-works .frequently-asked-questions .accordion .handle {
    margin: 0;
    font-size: 18px;
    line-height: 1.2em;
    width: 100%;
    max-width: 1280px; }
    .how-it-works .frequently-asked-questions .accordion .handle h3 {
      font-size: 20px;
      font-weight: 400;
      color: black;
      line-height: 2em;
      line-height: 2em; }
  .how-it-works .frequently-asked-questions .accordion label {
    color: #3A4351;
    cursor: pointer;
    font-weight: normal;
    padding: 16px;
    border-radius: 6px;
    justify-content: space-between;
    margin: auto; }
  .how-it-works .frequently-asked-questions .accordion label:hover,
  .how-it-works .frequently-asked-questions .accordion label:focus {
    background: #F7FAFC; }
  .how-it-works .frequently-asked-questions .accordion .handle label:before {
    font-family: 'fontawesome';
    content: "\f107";
    margin-right: 10px;
    align-self: center;
    font-size: 24px;
    vertical-align: middle;
    color: #1254FF;
    transition-timing-function: ease;
    transition-duration: .3s;
    order: 2; }
  .how-it-works .frequently-asked-questions .accordion > input[type="checkbox"]:checked ~ .handle label:before {
    transform: rotate(180deg); }
  .how-it-works .frequently-asked-questions .accordion h3 {
    order: 1;
    margin-top: 16px;
    margin-left: 16px;
    max-width: 1280px; }
  .how-it-works .frequently-asked-questions .accordion h3 img {
    width: 32px;
    margin-right: 24px;
    vertical-align: middle; }
  .how-it-works .frequently-asked-questions .accordion p {
    max-width: 900px;
    line-height: 2em; }
  .how-it-works .frequently-asked-questions .accordion ul {
    line-height: 2em; }
  .how-it-works .frequently-asked-questions .expand {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: auto;
    margin-bottom: 40px; }
  .how-it-works .app-download {
    min-height: 250px;
    max-width: 1000px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 9px; }
    .how-it-works .app-download h2 {
      text-align: center;
      max-width: 500px;
      margin: auto;
      padding-top: 40px;
      padding-bottom: 24px; }
    .how-it-works .app-download p {
      text-align: center;
      max-width: 500px;
      margin: auto;
      line-height: 2em; }
    .how-it-works .app-download img {
      height: 48px;
      width: auto;
      vertical-align: middle; }
      
      /***test****/
      .how-it-works .eighth-block {
  padding: 3% 5%;
  text-align: center;
}
.how-it-works .bottom-menu .btn-blue-2{
    margin-top: 20px;
}
.how-it-works .eighth-block .d-flex-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}

.how-it-works .eighth-block .d-flex-custom img {
  margin-right: 15px;
  height: 50px;
}

.how-it-works .bottom-menu {
  background: #1254FF;
  padding: 2% 5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

  .how-it-works .eighth-block{
    padding: 3% 5% 8%;
  }
  
  .how-it-works .eighth-block .d-flex-custom img {
    height: 40px;
  }
  
    .how-it-works .eighth-block{
    padding: 3% 5% 8%;
  }
  
  .how-it-works .eighth-block {
  padding: 3% 5%;
  text-align: center;
}

/***/
.how-it-works .eighth-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 3% 5% 7% 5%;
  margin-top: 150px;
  text-align: center;
}

.how-it-works .eighth-block p, .how-it-works .eighth-block h2{
  text-align: center;
}

.how-it-works .eighth-block hr {
  border: 3px solid #FFB838;
  width: 190px;
  margin-bottom: 24px; 
}

.how-it-works .eighth-block .app-block{
  display: flex;
justify-content: space-around;
/*   align-content: center;
  align-items: center; */
}

.how-it-works .eighth-block .app1{
    flex: 0 0 23%;
}
.how-it-works .eighth-block hr + p{
  margin-bottom: 50px;
}

.how-it-works .eighth-block .app1{
  display: flex;
 flex-direction: column;
  justify-content: space-between;
}

.how-it-works .eighth-block .content{
  padding-bottom: 25px;
}

.how-it-works .eighth-block .app1 h2{
  padding-bottom: 10px;
}


  
  .how-it-works .eighth-block .app1{
    max-width: 280px;
  }
  
  .how-it-works .eighth-block .app1:nth-of-type(1), .how-it-works .eighth-block .app1:nth-of-type(2){
    margin-bottom: 50px;
  }
}

/****/
.how-it-works .second-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
    margin-bottom: auto;
  margin-bottom: 120px;
}

.how-it-works .second-section .content-intro {
  flex: 1;
  max-width: 600px;
  padding-left: 40px;
}

/****/
.how-it-works .second-section hr{

  border: 3px solid #FFB838;
  width: 80px;
  margin-left: 0;
  margin-bottom: 24px;

}



.how-it-works .next-section{
  flex-direction: row-reverse;
}

.how-it-works .next-section{
  min-height: 500px;
  margin-bottom: 20px;
}

.how-it-works .next-section .custom-video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
/*   border: 10px solid #FFF;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(253, 184, 58, 0.1);
          box-shadow: 5px 5px 10px 0px rgba(253, 184, 58, 0.1); */
}

.how-it-works .next-section .video-responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.how-it-works .d-flex-custom a {
  padding: 14px 32px;
  background: #1254ff;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 25px;
  flex-grow: 1;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  max-width: 242px;

}

  
  .how-it-works .next-section .content-intro{
    margin-bottom: 45px;
  }
  
  .how-it-works .next-section .image-collage{
    margin-bottom: 50px;
  }
  
  .how-it-works .icon-section{
    padding-left:20px;
   padding-right: 20px;
  }
}

</style>
<div class="how-it-works">
<div class="intro-section">
<div class="content-intro">
<h1>How it Works</h1>
  <h2>Discover 350,000+ Vehicles for Sale In All Conditions</h2>
<div>

<p>Copart connects buying Members and sellers of all types of vehicles in all conditions through our 100% online auction platform. You’ll also find tools to check out, bid on, pay for, and receive the vehicles that meet your needs.</p>

<p>We hold regular auctions at <a href="https://www.copart.com/locations/">our 220 + Locations</a> in 11 countries, and national <a href="https://www.copart.com/content/us/en/landing-page/spot-light-2023">spotlight auctions</a> that make it easy to find a specific type of vehicle.</p>
<br>
<br>
<a class="button" href="https://www.copart.com/lotSearchResults/?free=true&amp;query=">Shop Our Inventory</a></div>
</div>

<div class="image-collage heading-scroll show-on-scroll is-visible"><img alt="copart how it works" data-entity-type="" data-entity-uuid="" src="/content/how-it-works-collage2.png"></div>
</div>
<div class="next-section">
<div class="content-intro">
<h2>Get Started</h2>

<div>

<p>Register for an account, then purchase a <a href="https://www.copart.com/Content/us/en/landing-page/register-d-v4">Basic</a> or <a href="https://www.copart.com/Content/us/en/landing-page/register-d-v4">Premier Membership</a>. You can get a full refund for up to seven days if you change your mind as long as you don’t use your Member benefits*, so it’s risk free.</p>

<br>
<br>
<a class="button" href="./doRegistration">Register Now</a></div>
</div>

<div class="image-collage heading-scroll show-on-scroll"><div class="custom-video-container"><iframe class="video-responsive-iframe" src="https://www.youtube.com/embed/dl-D570sfYI?si=xtjbGbIc2yloWY2m&amp;rel=0"></iframe></div></div>
</div>
<div class="heading-mobile-center">
<h2>After You've Registered:</h2>

<hr></div>

<div class="icon-section">
<div class="step"><img alt="icon upload licenses" class="icon" data-entity-type="" data-entity-uuid="" src="/content/upload-licenses.svg">
<h3>Upload License(s)</h3>

<p>Scan a government-issued ID and upload any business licenses required in states where you want to buy vehicles.</p>
<a href="https://www.copart.com/accountInformation/accountSetting?showAcc=Y">Document Uploader <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/content/us/en/licensing/licensingoverview">State Licensing Overview <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/blog/en/how-to-upload-a-limited-power-of-attorney/">Limited Power of Attorney <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a></div>

<div class="step"><img alt="icon saved searches" class="icon" data-entity-type="" data-entity-uuid="" src="/content/license.svg">
<h3>No License Is No Problem</h3>

<p>If you don’t have a dealer’s license or other required credentials to buy a vehicle in a specific state, search for No License Required vehicles or work with a Broker.</p>
<a href="https://www.copart.com/brokersmarketmakers/1/">Broker <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/lotSearchResults?free=true&amp;query=No%20License%20Required">No License Required <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a></div>
<div class="step"><img alt="icon saved searches" class="icon" data-entity-type="" data-entity-uuid="" src="/content/search-and-save.svg">
<h3>Search, Save &amp; Set Alerts</h3>

<p>Search &amp; filter our huge selection to find the vehicles that fit your needs. Save your common searches.</p>
<p>Track vehicles you add to your Watchlist, and set Vehicle Alerts to know when new vehicles you want are listed. </p>
<a href="https://www.copart.com/vehicleFinder/">Vehicle Finder Tool <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/vehicleAlerts/">Set a Vehicle Alert <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/savedsearch/">Save a Search <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/public/watchList/">Watchlist <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a></div>

<div class="step"><img alt="icon join auctions" class="icon" data-entity-type="" data-entity-uuid="" src="/content/join-auctions.svg">
<h3>Join Auctions</h3>

<p>Join the fun and action of our live auctions under the options in the Auctions tab, likes Today’s Auctions, Auction Calendar and the Join An Auction.</p>
<a href="https://www.copart.com/auctionCalendar/">Auction Calendar <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/todaysAuction">Today's Auctions <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/auctionDashboard">Join An Auction <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a></div>

<div class="step"><img alt="icon get it delivered" class="icon" data-entity-type="" data-entity-uuid="" src="/content/laptop-credit.svg">
<h3>Other Ways to Win</h3>

<p>Set a Max Bid and our system will incrementally bid for you up to your top price. Purchase Buy It Now vehicles for the asking price or make counteroffers with the Make An Offer function.</p>
<a href="https://www.copart.com/content/us/en/landing-page/maxbidpromo-lp">Max Bids <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/lotSearchResults/?free=true&amp;query=&amp;searchCriteria=%7B%22query%22:%5B%22*%22%5D,%22filter%22:%7B%22FETI%22:%5B%22buy_it_now_code:B1%22%5D%7D,%22sort%22:%5B%22auction_date_type%20desc%22,%22auction_date_utc%20asc%22%5D,%22watchListOnly%22:false,%22searchName%22:%22%22,%22freeFormSearch%22:false%7D">Buy It Now <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<!-- <a href="needslink.com">3rd Party Providers <img src="/content/arrow.svg"></a> --></div>
<div class="step"><img alt="icon get it delivered" class="icon" data-entity-type="" data-entity-uuid="" src="/content/get-it-delivered.svg">
<h3>Receive Your Vehicles</h3>

<p>Order delivery through Copart, dispatch your own transporter, or pick vehicles up in person.</p>
<a href="https://www.copart.com/content/us/en/support/how-to-buy/pay-and-pick-up">Payment &amp; Pickup <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/content/us/en/landing-page/international-shipping-index">International Delivery <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/content/us/en/landing-page/shipping-lp-2022">Domestic Delivery <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a>
<!-- <a href="needslink.com">3rd Party Providers <img src="/content/arrow.svg"></a> --></div>
</div>
<!-- GPT AdSlot 1 for Ad unit 'How_it_works_1_728X90' ### Size: [[728,90],[320,50]] -->
<div class="text-center mt-40" id="div-gpt-ad-3493561-1" data-google-query-id="CKbDq8yVl40DFcGhgwcdVpkmTA" style="display: none;">
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-3493561-1'); });
  </script>
<div id="google_ads_iframe_/35265761/How_it_works_1_728X90_0__container__" style="border: 0pt; width: 728px; height: 0px;"></div></div>
<!-- End AdSlot 1 -->
<div class="why-copart">
<div class="video-section">

<div><img alt="How it Works Video" class="glow-button" data-entity-type="" data-entity-uuid="" src="/content/why-copart.png" style="width:100%; height: auto;">

<div aria-hidden="true" aria-labelledby="howitworks_video1" class="modal fade" id="howitworks_video1" role="dialog" style="display: none;" tabindex="-1">
<div class="modal-dialog"><!-- Modal content-->
<div class="modal-content">
<div class="modal-body">
<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/fGJAOTdLX08"></iframe></div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="content-section">
<div class="heading-mobile-center">
<h2>Why Buy with Copart?</h2>

<hr></div>

<div class="benefits-cards">
<div class="card heading-scroll show-on-scroll"><img alt="icon view before bid" data-entity-type="" data-entity-uuid="" src="/content/view-before-bod.svg">
<div>
<h3>Massive Selection</h3>

<p>With more than 350,000 vehicles listed daily, you’ll find wholesale cars, trucks &amp; SUVs, along with thousands of vehicles in all conditions.</p>
</div>
</div>

<div class="card heading-scroll show-on-scroll"><img alt="icon expansive inventory" data-entity-type="" data-entity-uuid="" src="/content/expansive-inventory.svg">
<div>
<h3>Great Deals</h3>

<p>When supply &amp; demand meet in real time in an auction, you can walk away with some treasures without paying a fortune.</p>
</div>
</div>

<div class="card heading-scroll show-on-scroll"><img alt="icon great deals" data-entity-type="" data-entity-uuid="" src="/content/great-deals.svg">
<div>
<h3>Cutting Edge Technology</h3>

<p>Our proprietary web &amp; mobile auction technology is constantly upgraded to meet your changing needs.</p>
</div>
</div>

<div class="card heading-scroll show-on-scroll"><img alt="icon daily auctions" data-entity-type="" data-entity-uuid="" src="/content/daily-auctions.svg">
<div>
<h3>Full-Service Solutions</h3>

<p>Copart can help you find the vehicles you need from your first search to final delivery to your door.</p>
</div>
</div>
</div>
</div>
</div>

<div class="eighth-block">
  <h2>Our Mobile Apps</h2>
<hr>
<p>Enjoy all the benefits Copart provides from almost anywhere.</p>
  <div class="app-block">
    <div class="app1">
      <div class="content">
<h2>Copart Member App</h2>

<p>Bid &amp; win on the move with the power of Copart in the palm of your hand.</p></div>

<div class="d-flex-custom"><a href="https://www.copart.com/content/us/en/landing-page/copart-mobile?intcmp=web_footer_membermobile_en">Learn How</a></div>
    </div>
    <div class="app1">
      <div class="content">
<h2>Copart GOApp</h2>

<p>Sign up &amp; list vehicles for free and manage your offers on the go.</p></div>

<div class="d-flex-custom"><a href="https://www.copart.com/content/us/en/landing-page/copart-go-mobile-app">Sell Here</a> </div>
    </div>
    <div class="app1">
  <div class="content">
<h2>Transportation App</h2>

<p>Pick up vehicles, schedule loading, manage assignments &amp; confirm deliveries all in one app.</p></div>

<div class="d-flex-custom"><a href="https://www.copart.com/content/us/en/landing-page/copart-transportation?intcmp=web_mn_vehiclepickup_lp_20190905">Start Now</a></div>
    </div>
  </div>
</div>


<div class="four-block-section">
<div class="content-section">
<div class="heading">
<h2>We Welcome Worldwide Members</h2>

<hr></div>

<p>Copart auctions vehicles to Members across the globe, for recycled parts, resale, and personal use.  Copart can connect you with international shipping. We also work with Member Lounges &amp; Certified Resellers in places like Eastern Europe, Africa and South America who help local residents find, purchase and import vehicles.</p>


<a href="https://www.copart.com/content/us/en/landing-page/international-shipping">International Shipping <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/content/us/en/lounges">Copart Lounges <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/content/us/en/landing-page/international-buyers">Certified Resellers <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a></div>

<div class="photo-delivery">&nbsp;</div>

<div class="photo-licensing">&nbsp;</div>

<div class="content-section">
<div class="heading">
<h2>Help When You Need It</h2>

<hr></div>


<p>We make it easy to learn all the ways Copart can help you meet your vehicle needs with our interactive Help Center, informative Blog articles, and live help from our Member Services team.</p>


<a href="https://www.copart.com/help">Help Center <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/blog#page=0">Blog <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a><br>
<a href="https://www.copart.com/content/us/en/contact-us/member-services">Member Services <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a></div>
</div>
<!-- FOUR BLOCK SECTION ENDS -->
<!-- GPT AdSlot 2 for Ad unit 'How_it_works_2_728X90' ### Size: [[728,90],[320,50]] -->
<div class="text-center mt-40" id="div-gpt-ad-3493561-2" data-google-query-id="CKfDq8yVl40DFcGhgwcdVpkmTA" style="display: none;">
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-3493561-2'); });
  </script>
<div id="google_ads_iframe_/35265761/How_it_works_2_728X90_0__container__" style="border: 0pt; width: 728px; height: 0px;"></div></div>
<!-- End AdSlot 2 -->
<div class="payment-methods">
<div>
<div class="heading">
<h2>Many Ways to Pay</h2>

<hr></div>

<p>Copart offers many different options to pay for your vehicles, services and fees. Credit &amp; debit cards, bank transfers (ePay), wire transfers, and even your favorite flooring and financing plans. </p>
<a href="https://www.copart.com/content/us/en/buyer/payments/payment-options">Payment Methods <img aria-hidden="true" data-entity-type="" data-entity-uuid="" src="/content/arrow.svg"></a></div>

<div><img alt="over 15 payment methods" data-entity-type="" data-entity-uuid="" src="/content/payment-methods.svg"></div>
</div>

<div class="frequently-asked-questions">
		
	<div class="heading-centered">
		<h2 style="max-width: 100%; text-align: center;">Frequently Asked Questions</h2>
		<hr>
		</div>
		
		
		<div class="expand">  
<section class="accordion">
  <input type="checkbox" name="collapse" id="handle1">
  <h2 class="handle">
      <label for="handle1"><h3>How Do I Start Bidding &amp; Buying In Copart Auctions?</h3></label>
  </h2>
  <div class="content">
            <p>First, register for free as a Guest Member. Registration is free and takes only a few minutes.</p><br>
            <p>Before you can start bidding, you’ll need to buy a Basic or Premier Membership, upload your government-issued ID and any other required licenses &amp; credentials. Once your documents and account information have been reviewed and approved, you’re ready to start bidding on and buying vehicles in online auctions.</p>
           
  </div>
</section>
			
			<section class="accordion">
  <input type="checkbox" name="collapse" id="handle2">
  <h2 class="handle">
      <label for="handle2"><h3>What is Buying Power and How Do I Increase It?</h3></label>
  </h2>
  <div class="content">
            <p>Buying Power is the total amount you can bid on a vehicle based on your Copart Membership type and current deposit on file. Basic Members start with $2,000 USD in Buying Power at the time of registration.</p><br> 
            <p>For a bid amount above $2,000 USD, a deposit of at least 10% of the bid amount must be made (Example: $4,000 USD in total bids requires a $400 USD deposit). Members can also increase their Buying Power by upgrading their account to a Premier Membership. With only one deposit of $400, Premier Members can bid up to $100,000 per day and enjoy other benefits and perks.</p><br>
            <p>Remember, deposits can’t be used to make purchases.</p>
  </div>
</section>
			
		
			<section class="accordion">
  <input type="checkbox" name="collapse" id="handle3">
  <h2 class="handle">
      <label for="handle3"><h3>Can I Ship My Vehicles Internationally?</h3></label>
  </h2>
  <div class="content">
            <p>Copart doesn’t currently provide international shipping, but we can recommend several reputable third-party shipping companies that do.</p>
            <a href="https://www.copart.com/content/us/en/landing-page/international-shipping">International Shipping <img aria-hidden="true" src="/content/arrow.svg"></a>
  </div>
</section>
		
		<section class="accordion">
  <input type="checkbox" name="collapse" id="handle4">
  <h2 class="handle">
      <label for="handle4"><h3>I upgraded to Premier Membership. Why is my auction still saying that I’m not eligible to bid on my vehicle?</h3></label>
  </h2>
  <div class="content">
            <p>Your membership type has no effect on where you can bid on vehicles. The laws of the state where the vehicle is located govern who can bid. For example, if you were interested in purchasing a vehicle in Maine, Maine’s licensing laws state that you need either a business license or the assistance of a Broker in order to place your bid.</p>
            <a href="https://www.copart.com/helpWithLicensing/?srsltid=AfmBOopjnnldWHI6yOfpKmGx-OBb9Oum2FBOGwHjoNvWpjE3pNoFas-o">Copart Member Licensing &amp; Documentation Information <img aria-hidden="true" src="/content/arrow.svg"></a>
  </div>
</section>
		
		<section class="accordion">
  <input type="checkbox" name="collapse" id="handle5">
  <h2 class="handle">
      <label for="handle5"><h3>Do I Just Pay What I Bid Or Are There Other Fees?</h3></label>
  </h2>
  <div class="content">
            <p>Copart charges specific auction fees based on the final price of the vehicle and other factors. You can see all our fees by logging in and visiting our Member Fees Page.</p><br>
	  <a href="./memberFees/">Member Fees <img aria-hidden="true" src="/content/arrow.svg"></a>
  </div>
</section>

		<section class="accordion">
  <input type="checkbox" name="collapse" id="handle6">
  <h2 class="handle">
      <label for="handle6"><h3>How Do I Pick Up Or Have Someone To Pick Up My Vehicles?</h3></label>
  </h2>
  <div class="content">
            <p>The easiest way to take possession of your vehicles is to use Copart Delivery to bring them right to you. You can also have your driver download the Copart Transportation App, and then assign vehicles to them through the Payments Due page by selecting Assign to Transporter. You’ll need to input your transporter’s email address the first time you assign them a vehicle.</p><br>
            <p>You can pick up your own vehicle at one of our locations by scheduling a pickup appointment through the Copart Member App. For safety reasons, you cannot drive any vehicle out of a Copart location.</p><br>
            <a href="https://www.copart.com/content/us/en/landing-page/shipping-lp-2022">Copart Delivery <img aria-hidden="true" src="/content/arrow.svg"></a>
	  
	  		
  </div>
  
</section>

		<section class="accordion">
  <input type="checkbox" name="collapse" id="handle7">
  <h2 class="handle">
      <label for="handle7"><h3>How Can I Bid &amp; Buy on Copart If I Don’t Have A Dealer’s License?</h3></label>
  </h2>
  <div class="content">
            <p>Not having a dealer‘s license isn’t a problem. You can either search <a href="https://www.copart.com/lotSearchResults?free=true&amp;query=No%20License%20Required">No License Required</a> vehicles, or work with a <a href="https://www.copart.com/brokersmarketmakers/1/">Broker</a> who has the proper credentials and will let you use them for a fee.</p>
	  
	  		<ul>
	  		<li>Schedule pick-up during normal business hours.</li>
			<li>Have ready the Member Number and lot numbers of the vehicle being picked up.</li>
			<li>Loading is first-come, first-served.</li>
			<li>Flatbed trucks are recommended for safe transportation of your vehicles.</li>
			<li>All heavy and medium duty lots are self-load only.</li>
	  
	  		</ul>
  </div>
  
</section>
	
	</div>
	
	
	</div> <!-- END FREQUENTLY ASKED QUESTIONS -->


<script>
// Detect request animation frame
var scroll = window.requestAnimationFrame ||
             // IE Fallback
             function(callback){ window.setTimeout(callback, 1000/60)};
var elementsToShow = document.querySelectorAll('.show-on-scroll'); 

function loop() {

    Array.prototype.forEach.call(elementsToShow, function(element){
      if (isElementInViewport(element)) {
        element.classList.add('is-visible');
      } else {
        element.classList.remove('is-visible');
      }
    });

    scroll(loop);
}

// Call the loop for the first time
loop();

// Helper function from: http://stackoverflow.com/a/7557433/274826
function isElementInViewport(el) {
  // special bonus for those using jQuery
  if (typeof jQuery === "function" && el instanceof jQuery) {
    el = el[0];
  }
  var rect = el.getBoundingClientRect();
  return (
    (rect.top <= 0
      && rect.bottom >= 0)
    ||
    (rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.top <= (window.innerHeight || document.documentElement.clientHeight))
    ||
    (rect.top >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
  );

}
	
</script><script>
$('#howitworks_video1').on('hide.bs.modal', function(e) {
    var $if = $(e.delegateTarget).find('iframe');
    var src = $if.attr("src");
    $if.attr("src", '/empty.html');
    $if.attr("src", src);
});


</script>
<!-- GPT AdSlot 4 for Ad unit 'How_it_works_4_728X90' ### Size: [[728,90],[320,50]] -->
<div class="text-center mb-40" id="div-gpt-ad-3493561-4" data-google-query-id="CKnDq8yVl40DFcGhgwcdVpkmTA" style="display: none;">
    
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-3493561-4'); });
  </script>
<div id="google_ads_iframe_/35265761/How_it_works_4_728X90_0__container__" style="border: 0pt; width: 728px; height: 0px;"></div></div>
<!-- End AdSlot 4 -->
</div>

</div>
      
        </div>
	
				
	        	<div class="link-wrapper">
      		
    	</div>
  	  	
</div>



                        <a id="welcomeModal" href="" client-action="WelcomeModal" data-modal-name="modal-welcome" data-modal-url="/US/en/Layout/WelcomeMsg" class="ajax modal-error" style="display:none;"></a>
            <!-- EndBody -->
        </div>
    </div>
<div class="clear">
</div>



</div><div></div><!----><p-toast styleclass="copart-toast" position="bottom-center" life="1700" class="p-element ng-tns-c1067615279-0"><div class="p-toast p-component ng-tns-c1067615279-0 copart-toast p-toast-bottom-center"><!----></div></p-toast></app-root>
                </div>
            </div>