@inherits LayoutComponentBase


<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <nav class="navbar navbar-dark main-navbar">
            <div class="container-fluid align-items-center">
                <a class="navbar-brand me-3" href="/">
                    <img src="Icons/logo.svg" alt="Logo" height="40">
                </a>

                <form class="d-flex flex-grow-1 mx-3" style="max-width: 700px;">
                   <SearchBox Items="test" PlaceHolder="Vin, Damage, Model, ..."/>
                </form>

                <div class="d-flex align-items-center gap-2">
                    <button onclick="" class="btn btn-warning">Register</button>
                    <button class="btn menu-button">Sign in</button>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg copart-main">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#copartMenu" aria-controls="copartMenu"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="copartMenu">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="how-it-works">How it works</a></li>
                        <li class="nav-item"><a class="nav-link" href="inventory">Inventory</a></li>
                        <li class="nav-item"><a class="nav-link" href="auctions">Auctions</a></li>

                    </ul>
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    List<string> test = new();
}