@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <MudText Color="Color.Warning">Hi! @context.User.Identity.Name</MudText>
        <button @onclick="Logout" class="btn menu-button">Logout</button>
    </Authorized>
    <NotAuthorized>
        <button @onclick="Login" class="btn btn-warning">Login</button>
    </NotAuthorized>
</AuthorizeView>

@code {


    private async Task Logout()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
    private async Task Login()
    {
        Navigation.NavigateTo("authentication/login");
    }
}
